
@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}


<header>
    <h1>Documentation</h1>
</header>
<hr class='grand-line ' />
<main>
<div class='container-fluid '>
<section>
    <div class='row '>
        <div class='col-md-12 '>
            <span id='fromLatexConversion '>This is where the text from the LaTeX conversion will render</span>
        </div>
        <div class='col-md-12 '>
            <p>But a link will be provided here in case the user wants to see the PDF: <a href='styles/img/Manual.pdf ' target="_blank">here</a> </p>
        </div>
    </div>
</section>
<section>
    <div class='row '>
        <div class='col-md-12 '>
            <h2>Tutorials</h2>
        </div>
        <div class='col-md-4 '>
            <img class='img-responsive img-circle ' src='styles/img/placeholder.jpg ' />
            <p class='center-p '>Tutorial A</p>
        </div>
        <div class='col-md-4 '>
            <img class='img-responsive img-circle ' src='styles/img/placeholder.jpg ' />
            <p class='center-p '>Tutorial B</p>
        </div>
        <div class='col-md-4 '>
            <img class='img-responsive img-circle ' src='styles/img/placeholder.jpg ' />
            <p class='center-p '>Tutorial C</p>
        </div>
    </div>
    <h3>For more info check us out on youtube<a href='# '> here</a></h3>
</section>
<hr class='grand-line ' />
<section>
<div class='row '>
    <div class='col-md-12 '>
        <h2>XML Generator</h2>
        <p class='center-p '>Click the button below to fill out a form for conversion into xml</p>
        <div class='center-p '>
            <button class='btn btn-large btn-primary ' id='xmlTrigger'>Start</button>
        </div>
    </div>
</div>
<div class='row '>
<div class='col-md-12 hidden-until well well-lg ' id=xmlDataContainer>
<div class='progress '>
    <div class='progress-bar progress-bar-striped active bar-style' role='progressbar' aria-valueactive='1' aria-valuemin='0' aria-valuemax='8 ' id='userProgress'>
    </div>
</div>
<form method="post" action='http://www.tipjar.com/cgi-bin/test '>
<!--Form is a wombo-combo of Caleb and Ahmed-->
<div class='panel-group '>
<div class="panel panel-info panel-first">
    <div class="panel-heading">Please select an Ensemble</div>
    <div class="panel-body">
        <div class="radio">
            <label>
                <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_Nvt" value="Nvt">
                Nvt</label>
        </div>
        <div class="radio">
            <label>
                <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_Npt" value="Npt">
                Npt</label>
        </div>
        <div class="radio">
            <label>
                <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_GibbsNvt" value="GibbsNvt">
                GibbsNvt</label>
        </div>
        <div class="radio">
            <label>
                <input class="form-check-input" type="radio" name="gomc_config_input_Ensemble" id="gomc_config_input_Ensemble_GibbsNpt" value="GibbsNpt">
                GibbsNpt</label>
        </div>
    </div>
</div>
<div class="panel panel-success panel-second">
    <div class="panel-heading">Please enter the following input data</div>
    <div class="panel-body">
        <label>Restart</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="Restart" id="gomc_config_input_Restart_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="Restart" id="gomc_config_input_Restart_False" value="False">
                False</label>
        </div>
        <label>Prng</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="gomc_config_input_Prng" id="gomc_config_input_Prng_Random" value="Random">Random</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="gomc_config_input_Prng" id="gomc_config_input_Prng_Intseed" value="Intseed">Intseed</label>
        </div>
        <div class='form-group '>
            <label>RandomSeed</label>
            <input class="form-control" type="number" id="gomc_config_input_RandomSeed">
        </div>
        <label>ParaType</label>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_ParaType" id="gomc_config_input_ParaType_Charmm" value="Charmm">
                Charmm</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_ParaType" id="gomc_config_input_ParaType_Exotic" value="Exotic">
                Exotic</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_ParaType" id="gomc_config_input_ParaType_Martini" value="Martini"
                   >Martini</label>
        </div>
    </div>
</div>
<div class='panel panel-default panel-third'>
    <div class='panel-heading '>Please enter the input configuration data</div>
    <div class='panel-body '>
        <div class='form-group '>
            <label>ParametersFileName</label>
            <input class="form-control" type="text" id="gomc_config_input_ParametersFileName">
        </div>
        <div class='form-group '>
            <label>Coordinates</label>
            <input class="form-control" type="text" id="gomc_config_input_Coordinates_1">
            <input class="form-control" type="text" id="gomc_config_input_Coordinates_2">
        </div>
        <div class='form-group '>
            <label>Structures</label>
            <input class="form-control" type="text" id="gomc_config_input_Structures_1">
            <input class="form-control" type="text" id="gomc_config_input_Structures_2">
        </div>
    </div>
</div>
<div class='panel panel-info panel-fourth'>
    <div class='panel-heading '>Enter the following System Data</div>
    <div class='panel-body '>
        <div class='form-group '>
            <label>Pressure</label>
            <input class="form-control" type="number" id="gomc_config_input_Pressure">
        </div>
        <div class='form-group '>
            <label>Temperature</label>
            <input class="form-control" type="number" id="gomc_config_input_Temperature">
        </div>
        <div class='form-group '>
            <label>Rcut</label>
            <input class="form-control" type="number" id="gomc_config_input_Rcut">
        </div>
        <div class='form-group '>
            <label>RcutLow</label>
            <input class="form-control" type="number" id="gomc_config_input_RcutLow">
        </div>
        <label>LRC</label>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="Lrc" id="gomc_config_input_Lrc_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="Lrc" id="gomc_config_input_Lrc_False" value="False">
                False</label>
        </div>
        <label>Exclude</label>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_Exclude" id="gomc_config_input_Exclude_OneTwo" value="OneTwo">
                OneTwo</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_Exclude" id="gomc_config_input_Exclude_OneThree" value="OneThree">
                OneThree</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_Exclude" id="gomc_config_input_Exclude_OneFour" value="OneFour">
                OneFour</label>
        </div>
        <label>Potential</label>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_Potential" id="gomc_config_input_Potential_Vdw" value="Vdw">
                Vdw</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_Potential" id="gomc_config_input_Potential_Shift" value="Shift">
                Shift</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="gomc_config_input_Potential" id="gomc_config_input_Potential_Switch" value="Switch">
                Switch</label>
        </div>
        <div class='form-group '>
            <label>Rswitch</label>
            <input class="form-control" type="number" id="gomc_config_input_Rswitch">
        </div>
    </div>
</div>
<div class='panel panel-success panel-fifth'>
    <div class='panel-heading '>Enter metadata</div>
    <div class='panel-body '>
        <label>ElectroStatic</label>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="ElectroStatic" id="gomc_config_input_ElectroStatic_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="ElectroStatic" id="gomc_config_input_ElectroStatic_False" value="False">
                False</label>
        </div>
        <div class='form-group '>
            <label>Ewald</label>
            <input class="form-control" type="number" id="gomc_config_input_Ewald">
        </div>
        <label>CachedFourier</label>
        <div class='radio '>
            <label><input type="radio" name="CachedFourier" id="gomc_config_input_CachedFourier_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="CachedFourier" id="gomc_config_input_CachedFourier_False" value="False">
                False</label>
        </div>
        <div class='form-group '>
            <label>Tolerance</label>
            <input class="form-control" type="number" id="gomc_config_input_Tolerance">
        </div>
        <div class='form-group '>
            <label>Dielectric</label>
            <input class="form-control" type="number" id="gomc_config_input_Dielectric">
        </div>
        <div class='form-group '>
            <label>PressureCalc</label>
            <input class="form-control" type="number" id="gomc_config_input_PressureCalc">
        </div>
        <div class='form-group '>
            <label>OneFourScaling</label>
            <input class="form-control" type="number" id="gomc_config_input_OneFourScaling">
        </div>
        <div class='form-group '>
            <label>RunSteps</label>
            <input class="form-control" type="number" id="gomc_config_input_RunSteps">
        </div>
        <div class='form-group '>
            <label>EqSteps</label>
            <input class="form-control" type="number" id="gomc_config_input_EqSteps">
        </div>
        <div class='form-group '>
            <label>AdjSteps</label>
            <input class="form-control" type="number" id="gomc_config_input_AdjSteps">
        </div>
        <label>ChemPot</label>
        <div class='form-group '>
            <label>Name<input class="form-control" type="text" id="gomc_config_input_ChemPot_Name"></label>
            <label>Value<input class="form-control" type="number" id="gomc_config_input_ChemPot_Value"></label>
        </div>
        <label>Fugacity</label>
        <div class='form-group '>
            <label>Name<input class="form-control" type="text" id="gomc_config_input_Fugacity_Name"></label>
            <label>Value<input class="form-control" type="number" id="gomc_config_input_Fugacity_Value"></label>
        </div>
        <div class='form-group '>
            <label>DisFreq</label>
            <input class="form-control" type="number" id="gomc_config_input_DisFreq">
        </div>
        <div class='form-group '>
            <label>RotFreq</label>
            <input class="form-control" type="number" id="gomc_config_input_RotFreq">
        </div>
        <div class='form-group '>
            <label>IntraSwapFreq</label>
            <input class="form-control" type="number" id="gomc_config_input_IntraSwapFreq">
        </div>
        <div class='form-group '>
            <label>VolFreq</label>
            <input class="form-control" type="number" id="gomc_config_input_VolFreq">
        </div>
        <div class='form-group '>
            <label>SwapFreq</label>
            <input class="form-control" type="number" id="gomc_config_input_SwapFreq">
        </div>
    </div>
</div>
<div class='panel panel-default panel-sixth'>
    <div class='panel-heading '>Enter Metadata Configuration Data</div>
    <div class='panel-body '>
        <label>UseConstantArea</label>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="UseConstantArea" id="gomc_config_input_UseConstantArea_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="UseConstantArea" id="gomc_config_input_UseConstantArea_False" value="False">
                False</label>
        </div>
        <label>FixVolBox0</label>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="FixVolBox0" id="gomc_config_input_FixVolBox0_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="FixVolBox0" id="gomc_config_input_FixVolBox0_False" value="False">
                False</label>
        </div>
        <label>BoxDim</label>
        <label>XAxis<input class="form-control" type="number" id="gomc_config_input_BoxDim_XAxis"></label>
        <label>YAxis<input class="form-control" type="number" id="gomc_config_input_BoxDim_YAxis"></label>
        <label>ZAxis<input class="form-control" type="number" id="gomc_config_input_BoxDim_ZAxis"></label>
        <div class='form-group '>
            <label>CbmcFirst</label>
            <input class="form-control" type="number" id="gomc_config_input_CbmcFirst">
        </div>
        <div class='form-group '>
            <label>CbmcNth</label>
            <input class="form-control" type="number" id="gomc_config_input_CbmcNth">
        </div>
        <div class='form-group '>
            <label>CbmcAng</label>
            <input class="form-control" type="number" id="gomc_config_input_CbmcAng">
        </div>
        <div class='form-group '>
            <label>CbmcDih</label>
            <input class="form-control" type="number" id="gomc_config_input_CbmcDih">
        </div>
    </div>
</div>
<div class='panel panel-info panel-seventh'>
    <div class='panel-heading '>Please Enter Output Header Format</div>
    <div class='panel-body '>
        <div class='form-group '>
            <label>OutputName</label>
            <input class="form-control" type="text" id="gomc_config_input_OutputName">
        </div>
        <label>CoordinatesFreq</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="CoordinatesFreq" id="gomc_config_input_CoordinatesFreq_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="CoordinatesFreq" id="gomc_config_input_CoordinatesFreq_False" value="False">
                False</label>
        </div>
        <div class='form-group '>
            <label>Value<input class="form-control" type="number" id="gomc_config_input_CoordinatesFreq"></label>
        </div>
        <label>RestartFreq</label>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="RestartFreq" id="gomc_config_input_RestartFreq_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="RestartFreq" id="gomc_config_input_RestartFreq_False" value="False">
                False</label>
        </div>
        <div class='form-group '>
            <label>Value<input class="form-control" type="number" id="gomc_config_input_RestartFreq"></label>
        </div>
        <label>ConsoleFreq</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="ConsoleFreq" id="gomc_config_input_ConsoleFreq_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label><input class="form-check-input" type="radio" name="ConsoleFreq" id="gomc_config_input_ConsoleFreq_False" value="False">
                False</label>
        </div>
        <div class='form-group '>
            <label>Value<input class="form-control" type="number" id="gomc_config_input_ConsoleFreq"></label>
        </div>
        <label>BlockAverageFreq</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="BlockAverageFreq" id="gomc_config_input_BlockAverageFreq_True" value="True">True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="BlockAverageFreq" id="gomc_config_input_BlockAverageFreq_False" value="False">
                False</label>
        </div>
        <div class='form-group '>
            <label>Value<input class="form-control" type="number" id="gomc_config_input_BlockAverageFreq"></label>
        </div>
        <label>HistogramFreq</label>
        <div class='radio '>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="HistogramFreq" id="gomc_config_input_HistogramFreq_True" value="True">True</label>
        </div>
        <div class='radio '>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="HistogramFreq" id="gomc_config_input_HistogramFreq_False" value="False">False</label>
        </div>
        <div class='form-group '>
            <label>Value<input class="form-control" type="number" id="gomc_config_input_HistogramFreq"></label>
        </div>
    </div>
</div>
<div class='panel panel-success panel-eigth'>
    <div class='panel-heading '>Please Enter the Output Body Format</div>
    <div class='panel-body '>
        <div class='form-group '>
            <label>DistName</label>
            <input class="form-control" type="text" id="gomc_config_input_DistName">
        </div>
        <div class='form-group '>
            <label>HistName</label>
            <input class="form-control" type="text" id="gomc_config_input_HistName">
        </div>
        <div class='form-group '>
            <label>RunNumber</label>
            <input class="form-control" type="number" id="gomc_config_input_RunNumber">
        </div>
        <div class='form-group '>
            <label>RunLetter</label>
            <input class="form-control" type="text" id="gomc_config_input_RunLetter">
        </div>
        <div class='form-group '>
            <label>SampleFreq</label>
            <input class="form-control" type="number" id="gomc_config_input_SampleFreq">
        </div>
        <label>OutEnergy1</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutEnergy1" id="gomc_config_input_OutEnergy_1_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutEnergy1" id="gomc_config_input_OutEnergy_1_False" value="False">
                False</label>
        </div>
        <label>OutEnergy2</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutEnergy2" id="gomc_config_input_OutEnergy_2_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutEnergy2" id="gomc_config_input_OutEnergy_2_False" value="False">
                False</label>
        </div>
        <label>OutPressure</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutPressure1" id="gomc_config_input_OutPressure_1_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutPressure1" id="gomc_config_input_OutPressure_1_False" value="False">
                False</label>
        </div>
        <label>OutPressure2</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutPressure2" id="gomc_config_input_OutPressure_2_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutPressure2" id="gomc_config_input_OutPressure_2_False" value="False">
                False</label>
        </div>
        <label>OutMolNumber</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutMolNumber1" id="gomc_config_input_OutMolNumber_1_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutMolNumber1" id="gomc_config_input_OutMolNumber_1_False" value="False">
                False</label>
        </div>
        <label>OutMolNumber2</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutMolNumber2" id="gomc_config_input_OutMolNumber_2_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutMolNumber2" id="gomc_config_input_OutMolNumber_2_False" value="False">
                False</label>
        </div>
        <label>OutDensity</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutDensity1" id="gomc_config_input_OutDensity_1_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutDensity1" id="gomc_config_input_OutDensity_1_False" value="False">
                False</label>
        </div>
        <label>OutDensity2</label>
        <div class='radio '>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="OutDensity2" id="gomc_config_input_OutDensity_2_True" value="True">True</label>
        </div>
        <div class='radio '>
            <label class="form-check-label"><input class="form-check-input" type="radio" name="OutDensity2" id="gomc_config_input_OutDensity_2_False" value="False">False</label>
        </div>
        <label>OutVolume</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutVolume1" id="gomc_config_input_OutVolume_1_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutVolume1" id="gomc_config_input_OutVolume_1_False" value="False">
                False</label>
        </div>
        <label>OutVolume2</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutVolume2" id="gomc_config_input_OutVolume_2_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutVolume2" id="gomc_config_input_OutVolume_2_False" value="False">
                False</label>
        </div>
        <label>OutSurfaceTension</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutSurfaceTension1" id="gomc_config_input_OutSurfaceTension_1_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutSurfaceTension1" id="gomc_config_input_OutSurfaceTension_1_False" value="False">
                False</label>
        </div>
        <label>OutSurfaceTension2</label>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutSurfaceTension2" id="gomc_config_input_OutSurfaceTension_2_True" value="True">
                True</label>
        </div>
        <div class='radio '>
            <label>
                <input class="form-check-input" type="radio" name="OutSurfaceTension2" id="gomc_config_input_OutSurfaceTension_2_False" value="False">
                False</label>
        </div>
        <button class='btn btn-success btn-lg xml-submission ' type='submit '>Create XML</button>
    </div>
</div>
</div>
</form>
</div>
</div>
</section>
</div>
</main>