@{
    Layout = "~/Views/P2/_P2_Layout.cshtml";
}



<header>
    <h1>Features</h1>
</header>
<hr class='grand-line' />
<main class='different-main'>
    <div class='container-fluid'>
        <section>
            <div class='row'>
                <div class='col-md-6 col-sm-12'>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive' alt='placeholder text' />
                </div>
                <div class='col-md-6 col-sm-12'>
                    <h2>This feature</h2>
                    <p>Full Details about the features</p>
                </div>
            </div>
        </section>
        <hr class='grand-line' />
        <section>
            <div class='row'>
                <div class='col-md-6 col-sm-12'>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive' alt='placeholder text' height='600' />
                </div>
                <div class='col-md-6 col-sm-12'>
                    <h2>This feature</h2>
                    <p>Full Details about the features</p>
                </div>
            </div>
        </section>
        <hr class='grand-line' />
        <section>
            <div class='row'>
                <div class='col-md-6 col-sm-12'>
                    <img src='~/Content/img/placeholder.jpg' class='img-responsive' alt='placeholder text' height='600' />
                </div>
                <div class='col-md-6 col-sm-12'>
                    <h2>This feature</h2>
                    <p>Full Details about the features</p>
                </div>
            </div>
        </section>
    </div>
</main>