/*==========================================================
 Title: GOMC fonttest.css
 Description:
   This is my standalone CSS for the GOMC font-test. The goal here is to show off a couple of combinations of the different fonts
==========================================================*/

/*font-test specific css*/

.card {
    padding: 30px;
    border: 5px double black;
 }

.card-swapped {
    border: 5px dashed black;
  }

.card:hover {
  cursor: pointer;
}

#onPage {
    border-bottom: 2px red solid;
}
