/*
    GOMC: Documentation page styles
*/


/*Class Styles*/
.center-p {
    text-align: center;
}

.bar-style {
    color: #020816;
    background-color: #CFE7A7;
}

.model-link {
    padding: 0 .1875em .1875em 0;
    list-style-type: none;
}

.custom-well {
    background-color: aliceblue;
    padding-top: 0;
}

.download-list {
    padding-left: 0; 
}
