/*
    GOMC: Downloads page styles
*/

/*Keyframe and loader animation*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader { /*Warning- this class must be attached to a div to work properly, can attach and remove dynamically with javascript for async operations*/
    border-top: 1em solid #106A3A;
    border-right: 1em solid #E58242;
    border-bottom: 1em solid #91D3EF;
    border-left: 1em solid #7F3E97;
    border-radius: 50%;
    width: 7.5em;
    height: 7.5em;
    animation: spin 2s linear infinite;
}

.scale-captcha {
    transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    -moz-transform: scale(0.77);
    -moz-transform-origin: 0 0;
    -ms-transform: scale(0.77);
    -ms-transform-origin: 0 0;
}