/*
    GOMC: Feature page styles
*/

/*Tag Styles*/
h5 {
    text-align: center;
    background-color: #141470;
    color: #FFFFFF;
    font-size: 1.74em;
    margin-top: 0em;
    margin-bottom: .31em;
    margin-left: 0em;
    padding-bottom: .1em;
    padding-top: .1em;
}


/*Class Styles*/
.different-main {
    background-color: #FFFFFF;
    color: #222222;
	margin-top: 30px;
}
