/*
    GOMC: Main page styles
*/

/*Open Sans & Roboto Font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/*Tag styles*/
body {
    color: #020816;
    background-color: #FFFFFF;
    padding-top: 4.9em;
    font-family: 'Open Sans', 'Roboto', Helvetica !important; /*Must over-ride font-family of scaffolding.less*/
}
header {
    margin-top: 1.93em;
    text-align: center;
    background-color: #141470;
    color: #FFF;
}

main {
    margin: 1.25em;
    padding: .625em;
}

footer {
    text-align: center;
    background-color: #EEEEEE;
    color: #020816;
    padding-bottom: .625em; /*Just to fluff out the bottom*/
}

/*This may have un-foreseen side effects, please test and let me know of any visual issues !Caleb*/
img {
    width: 18.75em;
    padding-top: 1em;
}



h1, h2, h3 {
    text-align: center;
  background-color: #141470;
    color: #FFF;
    padding-bottom: .1875em;
    padding-top: .1875em;
    font-size: 1.7em;
}

p {
    font-size: 1.2em;
}

nav a {
    color: #FFF;
}

nav { 
    overflow: hidden;
    transition: height 0.5s;
}

/*Class styles*/

/*CSS to remove rounded corners on nav-bar*/
.special-jumbotron {
background: none;
}

.nav > li > a {
    border-radius: 0;
}

.panel-primary > .panel-heading {
    color: #020816;
    background-color: aliceblue;
    border-color: aliceblue;
}

.panel-primary {
    border-color: aliceblue;
}

/*Should be added to all glyphicons everywhere, remove those extra spaces too*/
.icon-style {
    margin-right: 0.3125em;
}

.main-menu {
    color: #FFF;
    background-color: #141470;
    padding-bottom: 0.521em;
}

.nav-tabs {
    border-bottom: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 2em;
}

.not-render {
    display: none;
}

.render {
    display: block;
}

.navbar-default {
    border: none;
}

::selection {
    background-color: #E58242;
}

.navbar-toggle {
    color: #FFF;
  background-color: #141470;
}

.jumbo-description {
    text-align: center;
    margin: .5em;
    padding: 1em;
}

.carousel-indicators {
    bottom: 0em;
}

.carousel-control.left {
    background-image: none !important;
    background: transparent !important;
}

.carousel-control.right {
    background-image: none !important;
    background: transparent !important;
}

.gomcHome {
    min-height: 15.625em;
}

    .gomcHome h1 {
        background-color: none;
    }

.announcement-panel {
    border-color: #141470 !important;
}

.announcement-header {
    background-color: #141470 !important;
    padding-top: .03125em;
}

.sit-down {
    margin-top: 5em;
}

.grand-line {
    margin: 1.25em;
}

.footer-text {
    font-weight: 600;
}

.mid-card {
    background-color: #2C3539;
    color: #FFF;
}

.first-gomc-card {
    padding-left: 0;
}

.last-gomc-card { 
    padding-right: 0;
}
/*Id styles*/

/*Ids for menu items, attach ids only on the page focus*/
#onFontPage {
    border-bottom: 0.250em #106A3A solid;
}

#onGomcPage {
    border-bottom: 0.250em #E58242 solid;
}

#onDownloadsPage {
    border-bottom: 0.250em #91D3EF solid;
}

#onAboutPage {
    border-bottom: 0.250em #7F3E97 solid;
}

#onDocumentationPage {
    border-bottom: 0.250em #FFFF00 solid;
}

#onFeaturesPage {
    border-bottom: 0.250em #FF3232 solid;
}

#onPublicationPage {
    border-bottom: 0.250em #7F7FFF solid;
}

#teamLogo {
    padding: 0.525em;
}