/*
    GOMC: Latex page styles
*/

/*ID Styles*/
#navbar {
	position: fixed;   
    background: #D1D2D4;
    height: 100%;
    overflow: auto;
    float: left;
    width: 15.1em;
	margin-top: -.3em;
}

    #navbar ul, #navbar li {
        padding: 0;
        margin: 0;
        font-size: .96em;
        list-style-type: none;
    }

    #navbar li {
        padding: 0.3em;
        line-height: 105%;
        border-top: .0625em solid #000000;
        border-top: .0625em solid rgba(0,0,0,0.07);
    }

    #navbar ul ul {
        margin-top: 0.3em;
    }

    #navbar li a {
        padding-left: 0.5em;
        padding-right: 0em;
        display: block;
    }

    #navbar li li a {
        padding-left: 2.8em;
    }

    #navbar li li li a {
        padding-left: 3.8em;
    }

    #navbar a {
        text-decoration: none;
        color: #000;
    }

    #navbar .active a {
        font-weight:600;
    }

    #navbar a:hover {
        color: #000;
        text-decoration: underline;
    }

#site-content {
    top: 4.9em;
    bottom: 0;
    left: 0;
    right: 0;
    border-left: .125em solid #303030;
    border-bottom: .125em solid #303030;
    border-right: .125em solid #303030;
	margin-bottom: 1.7em;
	border: none;
	margin-right: 1em;
}

#contents-container {
    height: 100%;
    overflow: auto;
    width: 82em;
	margin-top: 1.7em;	
}

#contents {
    padding: 1em 1.5em;
    font-size: 1em;
}

.scrollToTop:hover {
	text-decoration: none;
	color: #000;
	background: #e4dfd8;
}

.scrollToTop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 35px;
	height: 35px;
	font-size: 20px;
	padding-top: 3px;
	text-align: center;
	background: #eae8e8;
	color: #766;
	text-decoration: none;
	z-index: 100;
	display: inline;
}

#site-content code{
    background: none;
}
