@model Project.Models.HomeModel
@{
    ViewBag.Title = "About GOMC";
}
<h2>@ViewBag.Title.</h2>

<p>GPU Optimized Monte Carlo (GOMC) is an open-source Gibbs ensemble Monte Carlo simulation engine. 
    This code is developed for the simulation of vapor-liquid equilibria for systems containing tens of thousands of interaction sites. 
    This project is a joint inter-departmental project between the Multicore Computing Lab in the Department of Computer Science at 
    Wayne State University and Professor Potoff's group from the Department of Department of Chemical Engineering and Materials Science at 
    Wayne State University.</p>
