@model Project.Models.HomeModel
@{
    ViewBag.Title = "Config Form";
}
<h2>@ViewBag.Title</h2>
<h3>Input Section</h3>
<form>
    Restart: <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    <br/>
    Prng: <br/>
    <input type='radio' name='PrngType' value='Random' /> Random <br/>
    <input type='radio' name='PrngType' value='Intseed' /> Intseed <br/>
    <br/>
    RandomSeed: <br/>
    <input type='text' class='form_input_int' name='Int32'/> <br/>
    <br/>
    ParaType: <br/>
    <input type='radio' name='ForceFieldType' value='Charmm' /> Charmm <br/>
    <input type='radio' name='ForceFieldType' value='Exotic' /> Exotic <br/>
    <input type='radio' name='ForceFieldType' value='Martini' /> Martini <br/>
    <br/>
    ParametersFileName: <br/>
    <input type='text' name='String'/> <br/>
    <br/>
    Coordinates: <br/>
    BoxNumber <br/>
    <input type='text' class='form_input_int' name='Int32'/> <br/>
    PdbFileName <br/>
    <input type='text' name='String'/> <br/>
    <br/>
    Structures: <br/>
    BoxNumber <br/>
    <input type='text' class='form_input_int' name='Int32'/> <br/>
    PsfFileName <br/>
    <input type='text' name='String'/> <br/>
    <br/>
</form>

<h3>Output Section</h3>
<form>
    OutputName: <br/>
    <input type='text' name='String'/> <br/>
    <br/>
    CoordinatesFreq: <br/>
    Enabled <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Value <br/>
    <input type='text' class='form_input_uint' name='UInt64'/> <br/>
    <br/>
    RestartFreq: <br/>
    Enabled <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Value <br/>
    <input type='text' class='form_input_uint' name='UInt64'/> <br/>
    <br/>
    ConsoleFreq: <br/>
    Enabled <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Value <br/>
    <input type='text' class='form_input_uint' name='UInt64'/> <br/>
    <br/>
    BlockAverageFreq: <br/>
    Enabled <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Value <br/>
    <input type='text' class='form_input_uint' name='UInt64'/> <br/>
    <br/>
    HistogramFreq: <br/>
    Enabled <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Value <br/>
    <input type='text' class='form_input_uint' name='UInt64'/> <br/>
    <br/>
    DistName: <br/>
    <input type='text' name='String'/> <br/>
    <br/>
    HistName: <br/>
    <input type='text' name='String'/> <br/>
    <br/>
    RunNumber: <br/>
    <input type='text' class='form_input_uint' name='UInt32'/> <br/>
    <br/>
    RunLetter: <br/>
    <br/>
    SampleFreq: <br/>
    <input type='text' class='form_input_uint' name='UInt32'/> <br/>
    <br/>
    OutEnergy: <br/>
    First <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Second <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    <br/>
    OutPressure: <br/>
    First <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Second <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    <br/>
    OutMolNumber: <br/>
    First <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Second <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    <br/>
    OutDensity: <br/>
    First <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Second <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    <br/>
    OutVolume: <br/>
    First <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Second <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    <br/>
    OutSurfaceTension: <br/>
    First <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    Second <br/>
    <input type='radio' name='Boolean' value='true' /> True <br/>
    <input type='radio' name='Boolean' value='false' /> False <br>
    <br/>
</form>
