@model Project.Models.HomeModel
@{
    ViewBag.Title = "Config Form";
}
<h2>@ViewBag.Title</h2>


<form>
<div class="form_section_header">Input Section</div>
<br />
<div class="form_param_name">Restart</div>
<br />
<label for="form_input_id_Restart">True</label>
<input type="radio" name="Restart" value="Boolean" class="" id="form_input_id_Restart" />
<label for="form_input_id_Restart">False</label>
<input type="radio" name="Restart" value="Boolean" class="" id="form_input_id_Restart" />
<br />
<br />
<div class="form_param_name">Prng</div>
<br />
<label for="PrngType">Random</label>
<input type="radio" name="PrngType" value="PrngType" id="PrngType" />
<br />
<label for="PrngType">Intseed</label>
<input type="radio" name="PrngType" value="PrngType" id="PrngType" />
<br />
<br />
<div class="form_param_name">RandomSeed</div>
<br />
<br />
<div class="form_param_name">ParaType</div>
<br />
<label for="ForceFieldType">Charmm</label>
<input type="radio" name="ForceFieldType" value="ForceFieldType" id="ForceFieldType" />
<br />
<label for="ForceFieldType">Exotic</label>
<input type="radio" name="ForceFieldType" value="ForceFieldType" id="ForceFieldType" />
<br />
<label for="ForceFieldType">Martini</label>
<input type="radio" name="ForceFieldType" value="ForceFieldType" id="ForceFieldType" />
<br />
<br />
<div class="form_param_name">ParametersFileName</div>
<br />
<input type="text" name="ParametersFileName" value="" class="" id="form_input_id_ParametersFileName" />
<br />
<br />
<div class="form_param_name">Coordinates</div>
<br />
<div>BoxNumber</div>
<input type="text" name="BoxNumber" value="" class="form_input_int" id="form_input_id_BoxNumber" />
<br />
<div>PdbFileName</div>
<input type="text" name="PdbFileName" value="" class="" id="form_input_id_PdbFileName" />
<br />
<br />
<div class="form_param_name">Structures</div>
<br />
<div>BoxNumber</div>
<input type="text" name="BoxNumber" value="" class="form_input_int" id="form_input_id_BoxNumber" />
<br />
<div>PsfFileName</div>
<input type="text" name="PsfFileName" value="" class="" id="form_input_id_PsfFileName" />
<br />
<br />
<div class="form_section_header">System Section</div>
<br />
<div class="form_param_name">Gemc</div>
<br />
<label for="GemcType">Nvt</label>
<input type="radio" name="GemcType" value="GemcType" id="GemcType" />
<br />
<label for="GemcType">Npt</label>
<input type="radio" name="GemcType" value="GemcType" id="GemcType" />
<br />
<br />
<div class="form_param_name">Pressure</div>
<br />
<input type="text" name="Pressure" value="" class="form_input_float" id="form_input_id_Pressure" />
<br />
<br />
<div class="form_param_name">Temperature</div>
<br />
<input type="text" name="Temperature" value="" class="form_input_float" id="form_input_id_Temperature" />
<br />
<br />
<div class="form_param_name">Rcut</div>
<br />
<input type="text" name="Rcut" value="" class="form_input_float" id="form_input_id_Rcut" />
<br />
<br />
<div class="form_param_name">RcutLow</div>
<br />
<input type="text" name="RcutLow" value="" class="form_input_float" id="form_input_id_RcutLow" />
<br />
<br />
<div class="form_param_name">Lrc</div>
<br />
<label for="form_input_id_Lrc">True</label>
<input type="radio" name="Lrc" value="Boolean" class="" id="form_input_id_Lrc" />
<label for="form_input_id_Lrc">False</label>
<input type="radio" name="Lrc" value="Boolean" class="" id="form_input_id_Lrc" />
<br />
<br />
<div class="form_param_name">Exclude</div>
<br />
<label for="ExcludeType">OneTwo</label>
<input type="radio" name="ExcludeType" value="ExcludeType" id="ExcludeType" />
<br />
<label for="ExcludeType">OneThree</label>
<input type="radio" name="ExcludeType" value="ExcludeType" id="ExcludeType" />
<br />
<label for="ExcludeType">OneFour</label>
<input type="radio" name="ExcludeType" value="ExcludeType" id="ExcludeType" />
<br />
<br />
<div class="form_param_name">Potential</div>
<br />
<label for="PotentialType">Vdw</label>
<input type="radio" name="PotentialType" value="PotentialType" id="PotentialType" />
<br />
<label for="PotentialType">Shift</label>
<input type="radio" name="PotentialType" value="PotentialType" id="PotentialType" />
<br />
<label for="PotentialType">Switch</label>
<input type="radio" name="PotentialType" value="PotentialType" id="PotentialType" />
<br />
<br />
<div class="form_param_name">Rswitch</div>
<br />
<input type="text" name="Rswitch" value="" class="form_input_float" id="form_input_id_Rswitch" />
<br />
<br />
<div class="form_param_name">ElectroStatic</div>
<br />
<label for="form_input_id_ElectroStatic">True</label>
<input type="radio" name="ElectroStatic" value="Boolean" class="" id="form_input_id_ElectroStatic" />
<label for="form_input_id_ElectroStatic">False</label>
<input type="radio" name="ElectroStatic" value="Boolean" class="" id="form_input_id_ElectroStatic" />
<br />
<br />
<div class="form_param_name">Ewald</div>
<br />
<input type="text" name="Ewald" value="" class="form_input_float" id="form_input_id_Ewald" />
<br />
<br />
<div class="form_param_name">CachedFourier</div>
<br />
<label for="form_input_id_CachedFourier">True</label>
<input type="radio" name="CachedFourier" value="Boolean" class="" id="form_input_id_CachedFourier" />
<label for="form_input_id_CachedFourier">False</label>
<input type="radio" name="CachedFourier" value="Boolean" class="" id="form_input_id_CachedFourier" />
<br />
<br />
<div class="form_param_name">Tolerance</div>
<br />
<input type="text" name="Tolerance" value="" class="form_input_float" id="form_input_id_Tolerance" />
<br />
<br />
<div class="form_param_name">Dielectric</div>
<br />
<input type="text" name="Dielectric" value="" class="form_input_float" id="form_input_id_Dielectric" />
<br />
<br />
<div class="form_param_name">PressureCalc</div>
<br />
<br />
<div class="form_param_name">OneFourScaling</div>
<br />
<input type="text" name="OneFourScaling" value="" class="form_input_float" id="form_input_id_OneFourScaling" />
<br />
<br />
<div class="form_param_name">RunSteps</div>
<br />
<input type="text" name="RunSteps" value="" class="form_input_uint" id="form_input_id_RunSteps" />
<br />
<br />
<div class="form_param_name">EqSteps</div>
<br />
<input type="text" name="EqSteps" value="" class="form_input_uint" id="form_input_id_EqSteps" />
<br />
<br />
<div class="form_param_name">AdjSteps</div>
<br />
<input type="text" name="AdjSteps" value="" class="form_input_uint" id="form_input_id_AdjSteps" />
<br />
<br />
<div class="form_param_name">ChemPot</div>
<br />
<div>ResName</div>
<input type="text" name="ResName" value="" class="" id="form_input_id_ResName" />
<br />
<div>Value</div>
<input type="text" name="Value" value="" class="form_input_float" id="form_input_id_Value" />
<br />
<br />
<div class="form_param_name">Fugacity</div>
<br />
<div>ResName</div>
<input type="text" name="ResName" value="" class="" id="form_input_id_ResName" />
<br />
<div>Value</div>
<input type="text" name="Value" value="" class="form_input_float" id="form_input_id_Value" />
<br />
<br />
<div class="form_param_name">DisFreq</div>
<br />
<input type="text" name="DisFreq" value="" class="form_input_float" id="form_input_id_DisFreq" />
<br />
<br />
<div class="form_param_name">RotFreq</div>
<br />
<input type="text" name="RotFreq" value="" class="form_input_float" id="form_input_id_RotFreq" />
<br />
<br />
<div class="form_param_name">IntraSwapFreq</div>
<br />
<input type="text" name="IntraSwapFreq" value="" class="form_input_float" id="form_input_id_IntraSwapFreq" />
<br />
<br />
<div class="form_param_name">VolFreq</div>
<br />
<input type="text" name="VolFreq" value="" class="form_input_float" id="form_input_id_VolFreq" />
<br />
<br />
<div class="form_param_name">SwapFreq</div>
<br />
<input type="text" name="SwapFreq" value="" class="form_input_float" id="form_input_id_SwapFreq" />
<br />
<br />
<div class="form_param_name">UseConstantArea</div>
<br />
<label for="form_input_id_UseConstantArea">True</label>
<input type="radio" name="UseConstantArea" value="Boolean" class="" id="form_input_id_UseConstantArea" />
<label for="form_input_id_UseConstantArea">False</label>
<input type="radio" name="UseConstantArea" value="Boolean" class="" id="form_input_id_UseConstantArea" />
<br />
<br />
<div class="form_param_name">FixVolBox0</div>
<br />
<label for="form_input_id_FixVolBox0">True</label>
<input type="radio" name="FixVolBox0" value="Boolean" class="" id="form_input_id_FixVolBox0" />
<label for="form_input_id_FixVolBox0">False</label>
<input type="radio" name="FixVolBox0" value="Boolean" class="" id="form_input_id_FixVolBox0" />
<br />
<br />
<div class="form_param_name">BoxDim</div>
<br />
<div>BoxNumber</div>
<input type="text" name="BoxNumber" value="" class="form_input_int" id="form_input_id_BoxNumber" />
<br />
<div>XAxis</div>
<input type="text" name="XAxis" value="" class="form_input_float" id="form_input_id_XAxis" />
<br />
<div>YAxis</div>
<input type="text" name="YAxis" value="" class="form_input_float" id="form_input_id_YAxis" />
<br />
<div>ZAxis</div>
<input type="text" name="ZAxis" value="" class="form_input_float" id="form_input_id_ZAxis" />
<br />
<br />
<div class="form_param_name">CbmcFirst</div>
<br />
<input type="text" name="CbmcFirst" value="" class="form_input_int" id="form_input_id_CbmcFirst" />
<br />
<br />
<div class="form_param_name">CbmcNth</div>
<br />
<input type="text" name="CbmcNth" value="" class="form_input_int" id="form_input_id_CbmcNth" />
<br />
<br />
<div class="form_param_name">CbmcAng</div>
<br />
<input type="text" name="CbmcAng" value="" class="form_input_int" id="form_input_id_CbmcAng" />
<br />
<br />
<div class="form_param_name">CbmcDih</div>
<br />
<input type="text" name="CbmcDih" value="" class="form_input_int" id="form_input_id_CbmcDih" />
<br />
<br />
<div class="form_section_header">Output Section</div>
<br />
<div class="form_param_name">OutputName</div>
<br />
<input type="text" name="OutputName" value="" class="" id="form_input_id_OutputName" />
<br />
<br />
<div class="form_param_name">CoordinatesFreq</div>
<br />
<div>Enabled</div>
<label for="form_input_id_Enabled">True</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<label for="form_input_id_Enabled">False</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<br />
<div>Value</div>
<input type="text" name="Value" value="" class="form_input_uint" id="form_input_id_Value" />
<br />
<br />
<div class="form_param_name">RestartFreq</div>
<br />
<div>Enabled</div>
<label for="form_input_id_Enabled">True</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<label for="form_input_id_Enabled">False</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<br />
<div>Value</div>
<input type="text" name="Value" value="" class="form_input_uint" id="form_input_id_Value" />
<br />
<br />
<div class="form_param_name">ConsoleFreq</div>
<br />
<div>Enabled</div>
<label for="form_input_id_Enabled">True</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<label for="form_input_id_Enabled">False</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<br />
<div>Value</div>
<input type="text" name="Value" value="" class="form_input_uint" id="form_input_id_Value" />
<br />
<br />
<div class="form_param_name">BlockAverageFreq</div>
<br />
<div>Enabled</div>
<label for="form_input_id_Enabled">True</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<label for="form_input_id_Enabled">False</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<br />
<div>Value</div>
<input type="text" name="Value" value="" class="form_input_uint" id="form_input_id_Value" />
<br />
<br />
<div class="form_param_name">HistogramFreq</div>
<br />
<div>Enabled</div>
<label for="form_input_id_Enabled">True</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<label for="form_input_id_Enabled">False</label>
<input type="radio" name="Enabled" value="Boolean" class="" id="form_input_id_Enabled" />
<br />
<div>Value</div>
<input type="text" name="Value" value="" class="form_input_uint" id="form_input_id_Value" />
<br />
<br />
<div class="form_param_name">DistName</div>
<br />
<input type="text" name="DistName" value="" class="" id="form_input_id_DistName" />
<br />
<br />
<div class="form_param_name">HistName</div>
<br />
<input type="text" name="HistName" value="" class="" id="form_input_id_HistName" />
<br />
<br />
<div class="form_param_name">RunNumber</div>
<br />
<input type="text" name="RunNumber" value="" class="form_input_uint" id="form_input_id_RunNumber" />
<br />
<br />
<div class="form_param_name">RunLetter</div>
<br />
<br />
<div class="form_param_name">SampleFreq</div>
<br />
<input type="text" name="SampleFreq" value="" class="form_input_uint" id="form_input_id_SampleFreq" />
<br />
<br />
<div class="form_param_name">OutEnergy</div>
<br />
<div>First</div>
<label for="form_input_id_First">True</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<label for="form_input_id_First">False</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<br />
<div>Second</div>
<label for="form_input_id_Second">True</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<label for="form_input_id_Second">False</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<br />
<br />
<div class="form_param_name">OutPressure</div>
<br />
<div>First</div>
<label for="form_input_id_First">True</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<label for="form_input_id_First">False</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<br />
<div>Second</div>
<label for="form_input_id_Second">True</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<label for="form_input_id_Second">False</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<br />
<br />
<div class="form_param_name">OutMolNumber</div>
<br />
<div>First</div>
<label for="form_input_id_First">True</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<label for="form_input_id_First">False</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<br />
<div>Second</div>
<label for="form_input_id_Second">True</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<label for="form_input_id_Second">False</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<br />
<br />
<div class="form_param_name">OutDensity</div>
<br />
<div>First</div>
<label for="form_input_id_First">True</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<label for="form_input_id_First">False</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<br />
<div>Second</div>
<label for="form_input_id_Second">True</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<label for="form_input_id_Second">False</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<br />
<br />
<div class="form_param_name">OutVolume</div>
<br />
<div>First</div>
<label for="form_input_id_First">True</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<label for="form_input_id_First">False</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<br />
<div>Second</div>
<label for="form_input_id_Second">True</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<label for="form_input_id_Second">False</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<br />
<br />
<div class="form_param_name">OutSurfaceTension</div>
<br />
<div>First</div>
<label for="form_input_id_First">True</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<label for="form_input_id_First">False</label>
<input type="radio" name="First" value="Boolean" class="" id="form_input_id_First" />
<br />
<div>Second</div>
<label for="form_input_id_Second">True</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<label for="form_input_id_Second">False</label>
<input type="radio" name="Second" value="Boolean" class="" id="form_input_id_Second" />
<br />
<br />
</form>