@model Project.Models.HomeModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    42 W Warren Ave<br />
    Detroit, MI 48202<br />
    <abbr title="Phone">P:</abbr>
    (313) 577-2424
</address>

<address>
    <strong>Ahmed Taher:</strong>   <a href="mailto:ataher2012@gmail.com">ataher2012@gmail.com</a><br />
    <strong>Caleb Latimer:</strong> <a href="mailto:latimercaleb@gmail.com">latimercaleb@gmail.com</a> <br/>
    <strong>Muamer Besic:</strong> <a href="mailto:m_besic@yahoo.com">Mam_besic@yahoo.com</a>
</address>