@model Project.Models.DownloadsModel
@{
    ViewBag.Title = "Latest Version";
}
<h2>@ViewBag.Title.</h2>


<h3>@Model.Name</h3>
<ul>
@foreach(var i in Model.Items)
{
    <li>@i.Name <a href="@i.Link">Download</a></li>    
}
</ul>
<p>You can also get GOMC from <a href="https://github.com/GOMC-WSU">Github</a></p>

<h3>What is new in GOMC 2.1</h3>
<ul>
    <li>Adsorption</li>
    <li>Bug fixes</li>
</ul>

<h4>Download log file <a href="https://raw.githubusercontent.com/GOMC-WSU/GOMC/master/Change%20log">here</a></h4>

<h3>Requirments</h3>

<p>Minimum rquirements to run the GOMC GPU version:</p>
<ul>
    <li>NVIDIA GPU with compute capability 3.0</li>
    <li>CUDA version 8.0</li>
</ul>