@model Project.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GOMC</h1>
    <p class="lead">This is the devlopment website for the Capstone GOMC senior project 2017. It is written by: Ahmed, Caleb and Moe.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Checkout our about page for more information on this project.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source</h2>
        <p>This project is an open source project. The source code is hosted at Github.</p>
        <p><a class="btn btn-default" href="https://github.com/GOMC-WSU/GOMC">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Website Source</h2>
        <p>The website is also open-sourced. Check it out at it's Github page.</p>
        <p><a class="btn btn-default" href="https://github.com/WSU-Capstone-2017/GOMC-Website">Learn more &raquo;</a></p>
    </div>
</div>