/*==========================================================
 Title: GOMC fonttest.css
 Description:
   This is my standalone CSS for the GOMC font-test. The goal here is to show off a couple of combinations of the different fonts
==========================================================*/

/* Custom Fonts from google*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
  font-family: 'Roboto', 'Open Sans', Georgia, Helvetica; /*Font scheme: Roboto for heads, Open Sans for details*/
  margin: 20px;
  padding: 10px;
  color: #FFF;
  background-color: #000000;
}

footer {
    background-image: url(img/x.gif);
    background-size: contain;
}

h3,header {
  text-align center;
}

p{
    font-size: 16px;
}

nav {
    overflow: hidden;
    transition: height 0.5s;

}
span {
    font-size: 43px;
    opacity: 0;
}
nav.open {

}

.slide-down {
    width: 34px;
    height: 34px;
    position: absolute;
    top:0;
    right: 0;
    display: none;
}

.slide-down.on {
    background-color: #777;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
}

.will-respond {

}

.card {
    padding: 30px;
    border: 10px double white;
}
