/*==========================================================
 Title: GOMC fonttest.css
 Description:
   This is my standalone CSS for the GOMC font-test. The goal here is to show off a couple of combinations of the different fonts
==========================================================*/

/* Custom Fonts from google*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
/*Media Queries*/
/*
@media (max-width: 47.999em) {
  .custom-menu-3 {
    text-align: left;

  }
  */
  @media (min-width: 768px){
  .will-respond ul {
      float: right;
  }
  #slideDown {
      display: block;
  }
  .nav-list:not(:last-child) {
      display: none;
  }
}

/* Selector styles */
body {
  margin: 20px;
  padding: 10px;
  color: #FFF;
  background-color: #000000;
}

html, button, input, select, textarea,
    .pure-g [class *= "pure-u"] {
        font-family: Roboto;
    }

footer {
    background-image: url(img/x.gif);
    background-size: contain;
}

h3, header {
  text-align: center;
}

p {
    font-size: 16px;
}

nav {
    overflow: hidden;
    transition: height 0.5s;
    background: #C0C0C0;
    margin-bottom:  20px;
}

span { /*This is just a place holder to see the footer */
    font-size: 43px;
    opacity: 0;
}

/*classes & IDs*/
.card {
    padding: 30px;
    border: 10px double white;
  }

.card:hover {
  cursor: pointer;
}

.will-respond {
    background-color: #2d3e50;
    padding: 10px;
}

.nav-list {
    margin: 10px;
    padding: 5px;
}

.nav-bar {
    background-color: #2d3e50;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 2.1em
}

.nav-bar.opened{
    height: 14em;
}

.closed {
    display: none;
}

.open {
    display: block;
}

.slide-down {
    width: 34px;
    height: 34px;
    position: absolute;
    top:0;
    right: 0;
    display: none;
}

.slide-down.active {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

#slideDown {
    display: none;
}
