/*==========================================================
 Title: GOMC fonttest.css
 Description:
   This is my standalone CSS for the GOMC font-test. The goal here is to show off a couple of combinations of the different fonts
==========================================================*/

/* Custom Fonts from google*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
  font-family: 'Roboto', 'Open Sans', Georgia, Helvetica; /*Font scheme: Roboto for heads, Open Sans for details*/
  margin: 20px;
  padding: 10px;
  color: #FFF;
  background: #000;
  color: #FFF;
}

h3 {
  text-align center;
}
